/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --- Styles start here! --- */

/* --- Typography --- */
* {
    font-family: Roboto, sans-serif;
}

.bold {
    font-weight: 900;
}

.header__text-logo {
    font-size: 24px;
}

.hero__text-main {
    font-size: 48px;
}

.header__text-link,
.hero__text-secondary {
    font-size: 18px;
}

.hero__text-button {
}

.info__text-header {
    font-size: 36px;
}

.testimonial__text-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    line-height: 1.4;
}
.testimonial__text-author {
    font-size: 24px;
}

/* --- Layout --- */
.container {
    max-width: 768px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.nav__layout {
    justify-content: space-between;
    padding: 1rem 0;
}
.nav__layout-list {
    align-items: center;
    column-gap: 1em;
}

.hero__layout {
    padding: 6rem 0;
}

.hero__layout > div {
    width: 100%;
}

.hero__layout-text {
    padding-right: 36px;
}

.hero__layout-main,
.hero__layout-secondary {
    margin-bottom: 2rem;
}

.info__layout {
    padding: 5rem 3rem;
}

.info__layout-header {
    text-align: center;
    margin-bottom: 2.5rem;
}

.info__layout-card-list {
    text-align: center;
    justify-content: between;
    column-gap: 1.5rem;
}

.testimonial__layout {
    padding: 5rem 3rem;
}

.testimonial__layout-quote {
    margin-bottom: 2rem;
}

.testimonial__layout-author {
    text-align: right;
}

.cta__layout {
    padding: 5rem 0;
}

.cta__layout-card {
    padding: 3rem 5rem;
    justify-content: space-between;
    align-items: center;
}

.footer__layout {
    margin: 3rem auto;
    text-align: center;
}

/* --- Color --- */
.bg-dark {
    background-color: #1F2937;
}
.bg-blue {
    background-color: #3882F6;
}
.bg-gray {
    background-color: #E5E7EB;
}

.color__light-main {
    color: #F9FAF8;
}
.color__light-secondary {
    color: #E5E7EB;
}
.color__dark-main {
    color: #1F2937;
}


/* --- Specifics here --- */

/* --- Links & Buttons --- */
a {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: .75rem 2rem;
    border-radius: 1rem;
}

/* --- Images --- */
.image__container {
    overflow: hidden;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.image__hero {
    max-height: 280px;
}
.image__card {
    aspect-ratio: 1 / 1;
    border: 4px solid #3882F6;
    border-radius: 1rem;
    margin-bottom: .5rem;
}
